.box {
    border-radius: 20px;
}

.password-area {
    padding: 0px 0 0 20px;
    text-align: left;
}

.password-text {
    width: 85%;
    background: #a4d5;
    border: none;
    border-radius: 5px;
    color: #14ffec !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {
    opacity: 1;
    -webkit-text-fill-color: #14ffec !important;
}

.copy-btn {
    text-align: center;
    background: #0d7377;
    border: none;
    border-radius: 5px;
    height: 55px;
    width: 55px;
    color: #14ffec;
}

.copy-btn:hover {
    background: #189ba0;
}

.title {
    padding-top: 15px;
}

.settings {
    padding: 0 0 0 20px;
    text-align: left;
}

.checkboxes {
    display: block;
    align-items: safe;
}

.checkbox-item {
    padding: 10px 0 0 20px;
    display: flex;
}

.label-check {
    padding-left: 20px;
}

.checkbox-item input {
    width: 20px;
    height: 20px;
}

.checkbox-item input:checked {
    accent-color: #0d7377;
}

.password-length {
    padding: 0 0 0 20px;
    text-align: left;
}

.slider {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
}

.slider .range-value {
    width: 80px;
    height: 100%;
    font-size: 20px;
    border-radius: 5px;
    background-color: #a4d5;
    color: #14ffec;
    line-height: 50px;
    text-align: center;
}

.slider .range {
    width: 60%;
    height: 100%;
    margin-left: 20px;
    border-radius: 5px;
    border: none;
    background-color: #a4d5;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider .range input[type="range" i] {
    width: 100%;
    background-color: #14ffec !important;
    cursor: grab;
}

.generate-pass {
    padding: 10px 0 20px 20px;
}

.generate-pass .gen-pass-btn {
    height: 55px;
    border-radius: 7px;
    border: none;
    font-size: 20px;
    font-weight: bolder;
    padding: 15px;
    background-color: #a4d5;
    color: #14ffec;
}

.generate-pass .gen-pass-btn:hover {
    background-color: #14ffec;
    color: rgba(170, 68, 221);
}

.about-me {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icon {
    padding: 0 10px;
    font-size: 2rem !important;
    border-radius: 50%;
    border: none;
    color: #14ffec;
}